# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# IDE settings
.vscode/
.idea/

# Logs
logs/
*.log

# Environment variables
.env

# Mac / Windows files
.DS_Store
Thumbs.db